.list-group-item i {
    width: 0;
}

.col-sm-1 {
    width: 22px;
}

.col-sm-11 {
    width: 24px;
}

.dentSpan  {
    font-size: 108%;
}

.implantSpan  {
    font-size: 15px;
    color: blue;
}

.fc-toolbar h2 {
    font-size: 16px;
    margin-top: 8px;
}

.fc-widget-header th {
    font-weight: normal;
}

.faMore {
    padding-right: 2px;
    padding-left: 2px;
}

.media-body {
    display: inherit;
}

i.magnifier {
    position: relative;
    top: -27px;
    left: 6px;
}

a .fa-times {
    margin-right: 10px;
}

.form-control {
    padding-left: 22px;
}

a.list-group-item .list-group-item-heading {
    color: blue;
}
