.list-group-item i {
    width: 0;
}

.col-sm-1 {
    width: 22px;
}

.col-sm-3 {
    width: 24px;
}

.dentSpan  {
    font-size: 108%;
}

.implantSpan  {
    font-size: 15px;
    color: blue;
}

.navbar {
    margin-bottom: 0;
}

.fc-toolbar h2 {
    font-size: 16px;
    margin-top: 8px;
}

.fc-widget-header th {
    font-weight: normal;
}

.faMore {
    padding-right: 2px;
    padding-left: 2px;
}